html{
    height: 100%;
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150;
    color: black;
}
body{
    background-image: linear-gradient(white,rgb(170, 183, 219),blue, navy, black);
    background-size: 100%;
    
}
img{
    width: 250px;
    height: 250px;
}
a{
    font-size: 25px;
    font-family: Arial;
    color: black;
}
#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
    background-color: #4CAF50;
  }
.boxed {
    border: 2px solid black ;
    font-family: Arial;
    font-size: 50 px;
    text-align: center;
    margin-left: 32%;
    margin-right: 32%;
  }
#contacts{
    width: 125px;
    height: 125px; 
    margin-left: auto;
    margin-right: auto;
}
#skills{
    text-align: center;
    float: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-decoration: none;
}
form { 
    margin: 0 auto; 
    width:250px;
    }
p{
    text-align: center;
    font-family: Arial;
}
h2{
    text-align: center;
    font-family: cursive;
    font-size: 125;
    color: black;
}
ul{
    display: inline-block;
    margin-right:30px;
    margin-block-end:-30px;
    list-style-type: none;
}
#javaportfolioaccess{
    position: absolute;
    top: 50px;
    left: 50px;
}
#pythonportfolioaccess{
    position: absolute;
    bottom: 25px;
    left: 50px;
}
#swiftportfolioaccess{
    position: absolute;
    top: 50px;
    right: 50px;
}
#webdevportfolioaccess{
    position: absolute;
    bottom: 25px;
    right: 50px;
}