html{
    height: 100%;
}
h1{
    text-align: center;
    font-family: cursive;
    font-size: 150;
    color:rgb(64, 103, 212);
}
body{
    background-image: radial-gradient(green, blue);
    background-size: cover;
}
a{
    font-size: 25px;
    font-family: Arial;
    color:rgb(64, 103, 212);
}