<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="static/styles.css">
    <style type="text/css" rel="stylesheet">
        h1{
            text-align: center;
            font-family: cursive;
            font-size: 150;
            color:rgb(64, 103, 212);
        }
        body{
            background-image: radial-gradient(green, blue);
            background-size: cover;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <a href="/">Go to Home Page</a>
    <h1>Welcome to Page 2</h1>
</body>
</html>