<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="static/styles.css">
    <title>Document</title>
</head>
<body>
    <ul id="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/page2">Transcript</a></li>
        <li><a href="/page3">Drawing</a></li>
    </ul>
    <a href="/">Go to Home Page</a>
    <h1>Drawing</h1>

    <canvas id="svs" width="500" height="500" style="border:3px solid black"></canvas>

    <div>Use Keyboard to draw, press r to clear screen</div>

<script>
    var stage = document.getElementById('svs'), 
    ctx = stage.getContext('2d'), 
    x = 10, 
    y = 10, 
    w = 20, 
    h = 20; 
	
    function drawRect(x,y,w,h) {
    ctx.fillStyle = 'white';
    ctx.fillRect(x, y, w, h); 
    }

    window.onkeydown = function(event) {
    var keyPr = event.keyCode; 

    if(keyPr === 39 && x<=460){ 
        x = x+20; 
    }
    else if(keyPr === 37 && x>10){
        x = x-20; 
    }
    else if(keyPr === 38 && y>10) {
        y = y-20;
    }
    else if(keyPr === 40 && y<=460){
        y = y+20; 
    }
    else if(keyPr === 82){
        ctx.clearRect(0,0,500,500);
    }

    drawRect(x,y,w,h);
    };
</script>
</body>
</html>